In [1]:
import pandas as pd
import plotly 
import plotly.express as px
import numpy as np

import scipy
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
#from xgboost import XGBRegressor, plot_importance
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
from sklearn.metrics import roc_curve, roc_auc_score

In [ ]:
sns.pairplot(cars_lr)
plt.show()

In [2]:
train = pd.read_csv(r"C:\Users\bendgame\Desktop\house-prices\train.csv")
test = pd.read_csv(r"C:\Users\bendgame\Desktop\house-prices\test.csv")

In [3]:
train = train[[ 'SalePrice', 'LotArea','GrLivArea','BsmtFullBath','BsmtHalfBath','FullBath','HalfBath','BedroomAbvGr', 'KitchenAbvGr', 'Fireplaces', 'GarageCars']]
test = test[[  'LotArea','GrLivArea','BsmtFullBath','BsmtHalfBath','FullBath','HalfBath','BedroomAbvGr', 'KitchenAbvGr', 'Fireplaces', 'GarageCars']]

In [4]:
train = train.loc[train['LotArea'] < 26000]
train = train.loc[train['GrLivArea'] < 4200]

In [5]:
test['BsmtHalfBath'] = test['BsmtHalfBath'].fillna(test['BsmtHalfBath'].mean())
test['BsmtFullBath'] = test['BsmtFullBath'].fillna(test['BsmtFullBath'].mean())
test['GarageCars'] = test['GarageCars'].fillna(test['GarageCars'].mean())

In [6]:
test = test.loc[test['GrLivArea'] < 4200]

In [7]:
train.to_csv('trainek.csv')
test.to_csv('testek.csv')

In [10]:
test

,LotArea,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,Fireplaces,GarageCars
0,11622,896,0.0,0.0,1,0,2,1,0,1.0
1,14267,1329,0.0,0.0,1,1,3,1,0,1.0
2,13830,1629,0.0,0.0,2,1,3,1,1,2.0
3,9978,1604,0.0,0.0,2,1,3,1,1,2.0
4,5005,1280,0.0,0.0,2,0,2,1,0,2.0
...,...,...,...,...,...,...,...,...,...,...
1454,1936,1092,0.0,0.0,1,1,3,1,0,0.0
1455,1894,1092,0.0,0.0,1,1,3,1,0,1.0
1456,20000,1224,1.0,0.0,1,0,4,1,1,2.0
1457,10441,970,0.0,1.0,1,0,3,1,0,0.0
1458,9627,2000,0.0,0.0,2,1,3,1,1,3.0

In [ ]:
test.info()

In [ ]:
fig = px.scatter_matrix(train)
fig.show()

In [ ]:
#show scatter plot of SalePrice to LotArea
fig = px.scatter(x=house_df['LotArea'], y=house_df['SalePrice'])
fig.show()

In [ ]:
fig = px.histogram(x=train['SalePrice'])
fig.show()

In [ ]:
scale_cols = [c for c in train.dtypes[train.dtypes == float].keys() if c not in ['Id', 'SalePrice']]

scaler = StandardScaler()

for c in scale_cols:
    train[c] = scaler.fit_transform(train[[c]])

In [ ]:
train

In [ ]:
sns.pairplot(train)
plt.show()